/*--------------------------------
Radio Buttons
-----------------------------------*/

.ant-radio-button-wrapper {
  color: var(--text-grey-color);
  background-color: var(--background-secondary-color);
  width: var(--radioButton-width);
  height: var(--radioButton-height);
  display: var(--div-display-primary);
  flex-flow: var(--div-flex-row);
  justify-content: var(--div-display-justify-content-primary);
  align-items: var(--div-display-align-center);
  border: var(--border-primary) var(--border-box-color) !important;
}

.ant-radio-button-wrapper:hover {
  color: var(--secondary-color);
  background-color: var(--icon-primary-color);
}

.ant-radio-group {
  display: var(--div-display-primary);
  justify-content: var(--div-display-justify-content-primary);
}

.ant-radio-button-wrapper-checked {
  border: var(--border-primary) var(--border-box-color) !important;
}
