/* --------------------------
Header Contianer
-------------------------- */

.ett-header {
  position: fixed;
  width: var(--div-full-width);
  z-index: 10;
  background-color: var(--secondary-color);
  border-bottom: var(--border-bottom-primary-size) solid
    var(--text-lighter-grey-color);
  box-shadow: 1px 0px 2px 1px var(--text-lightest-grey-color);
}

/* --------------------------
Left Header Logo Contianer
-------------------------- */

.un-logo {
  float: left;
}

/* --------------------------
Left UNITE Logo 
-------------------------- */

#unite-logo-header {
  margin-left: 0.2em;
  width: 4.3em;
  margin-top: -0.4em;
  margin-right: 3px;
}

/* --------------------------
Left UN Logo 
-------------------------- */

#un-logo-header {
  width: 2.3em;
  margin-top: -0.3em;
  margin-right: 5px;
}

/* --------------------------
Right header menu container 
-------------------------- */

.app-menu {
  float: right;
  margin-top: 5px;
}

.ant-menu {
  background: var(--secondary-color);
}

/* --------------------------
Menu Item container 
-------------------------- */

.ant-menu-horizontal {
  border: none;
  margin-top: 6px;
}

.ant-menu-horizontal > .ant-menu-item {
  height: 40px;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: var(--border-bottom-secondary-size) solid var(--primary-color);
  border-bottom: var(--secondary-color);
}

.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: var(--border-bottom-secondary-size) solid var(--primary-color);
}
.ant-menu-horizontal > .ant-menu-item-selected:hover {
  border-bottom: var(--border-bottom-secondary-size) solid var(--primary-color);
  border-bottom: var(--border-bottom-secondary-size) solid var(--primary-color);
}

/* --------------------------
Menu Item link 
-------------------------- */

.ant-menu-horizontal > .ant-menu-item > a {
  color: var(--text-light-grey-color);
  font-family: var(--text-primary-font-family);
  text-transform: uppercase !important;
  font-weight: lighter;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: var(--text-secondary-color);
}

.ant-menu-horizontal > .ant-menu-item:hover > a {
  text-decoration: none;
}

.ant-menu-horizontal > .ant-menu-item.ant-menu-item-selected > a {
  color: var(--text-primary-color);
}
